/* Main CSS Stylesheet */

@import "misc.css";

#content-main p,
#content-main span {
	font-size: 16px;
}

#navbar nav.on-cover {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#cover-page .jumbotron {
    height: 100vh;
    text-align: center;
}
#cover-page.no-bottom-margin .jumbotron,
.content-full-height.no-bottom-margin .jumbotron {
    margin-bottom: 0;
}

#content-main {
    padding-bottom: 15px;
}
.content-media {
    margin-top: 15px;
}
.content-media .row {
    margin-bottom: 15px;
}
.content-full-height {
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#footer {
    color: rgb(154, 154, 154);
    background-color: rgb(244, 244, 244);
    text-align: center;
    padding-bottom: 10px;
}
#footer span {
    font-size: 10px;
    display: block;
}
#footer span a {
    color: rgb(133, 133, 133);
    text-decoration: none;
}
#footer span a:hover {
    text-decoration: underline;
}

.content-full-height h1 {
	font-size: 45px;
}
.content-full-height h2 {
	font-size: 25px;
}
.content-full-height p,
.content-full-height span {
	font-size: 17px !important;
}