/* Main CSS Stylesheet */

@import "misc.css";

#content-main p,
#content-main span {
	font-size: 16px;
}

#navbar nav.on-cover {
    background-color: rgba(255, 255, 255, .85);
    border: none;
}

#cover-page .jumbotron {
    height: 100vh;
    text-align: center;
	background: url(../img/homepage/microscope.jpg) no-repeat center center fixed;
	color: #ffffff;
}
#cover-page .jumbotron h2 {
	font-size: 45px;
	padding-bottom: 10px;
}
#cover-page .jumbotron h4 {
	font-size: 25px;
}
#cover-page.no-bottom-margin .jumbotron,
.content-full-height.no-bottom-margin .jumbotron {
    margin-bottom: 0;
}

#content-main {
    padding-bottom: 15px;
}
.content-media {
    margin-top: 15px;
}
.content-media .row {
    margin-bottom: 15px;
}
.content-full-height {
    min-height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#footer {
    color: rgb(154, 154, 154);
    background-color: rgb(244, 244, 244);
    text-align: center;
    padding-bottom: 10px;
}
#footer span {
    font-size: 10px;
    display: block;
}
#footer span a {
    color: rgb(133, 133, 133);
    text-decoration: none;
}
#footer span a:hover {
    text-decoration: underline;
}

.content-full-height h1 {
	font-size: 45px;
}
.content-full-height h2 {
	font-size: 25px;
}
.content-full-height p,
.content-full-height span {
	font-size: 17px !important;
}

.item-thumbnail .thumbnail {
	background-color: #f3efef;
	padding: 0;
	border: none;
}
.item-thumbnail .thumbnail .caption {
	padding-top: 0;
	padding-bottom: 5px;
	padding-left: 17px;
	padding-right: 17px;
}
.item-thumbnail * {
	border-radius: 0;
}
.item-status {
	margin-bottom: 10px;
}
.item-status span.label {
	font-size: 10px !important;
}

.item-page-main {
	padding-top: 25px;
	padding-bottom: 25px;
}
.item-image-main {
	width: 100%;
	margin-top: 25px;
}
.item-image-list {
	margin-top: 10px;
	border: 2px solid #f4f4f4;
}
.item-image-list img {
	width: 75px;
	margin: 10px;
	border: 3px solid #ffffff;
}
.item-image-list img:hover {
	border: 3px solid #e0e0e0;
}
.item-image-list img.selected {
	border: 3px solid #c3c3c3;
}